<div class="sign-in-form">
  <div class="container">
    <div class="card card-container">
      <h2 class="login-in-header">Log In</h2><br>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.label :email %><br>
        <%= f.email_field :email, autofocus: true, required: true, autocomplete: "email", placeholder: "Enter e-mail", class: "form-control"  %>
        <% if @user.errors.any? %>
        <%= @user.errors.messages[:email].first if @user.errors.messages[:email].present? %>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :password %><br>
        <%= f.password_field :password, required: true, autocomplete: "off", placeholder: "Enter password", class: "form-control" %>
        <% if @user.errors.any? %>
        <%#= @user.errors.messages[:password].first if @user.errors.messages[:password].present? %>
        <% end %>
      </div>
      <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end -%>
      <div class="actions">
        <%= f.submit "Log in", id: 'log_user', class: 'btn btn-info btn-md' %>
      </div>
      <% end %><br>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
