<%= form_for (@appointment) do |f| %>

  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{ pluralize(@appointment.errors.count, "error") } prohibited this post from being saved:" %>
      </h2>
      <ul>
        <% @appointment.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
          <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :Appointment_With %><br/>
    <%= f.collection_select(:doctor_id, @all_users, :id, :first_name) %>
  </div>

  <div class="field">
    <%= f.label :Date %><br />
    <%= f.datetime_select :date, start_year: 2018, default: 1.days.from_now %>
  </div>

  <div class="field">
    <h4>Cause:</h4>
    <ul>
      <%= f.fields_for :notes do |note_field| %>
        <li>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= note_field.label :Description %><br>
          <%= note_field.text_area :description %>
        </li>
      <% end %>
    </ul>
  </div>


  <div class = "button">
    <%= f.submit %>
  </div>

<% end %>
