<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="mystyle.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
</head>
<body>
 
<h1 class="text">Update My Appointment</h1>
<%= form_for (@appointment) do |f| %>

  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{ pluralize(@appointment.errors.count, "error") } prohibited this post from being saved:" %>
      </h2>
      <ul>
        <% @appointment.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
          <% end %>
      </ul>
    </div>
  <% end %>

  <div class="div-table">
    <div class="tr">
      <div class="tc">
        <div class="form-group">
          <%= f.label :Choose_Doctor %><br/>
          <%= f.collection_select(:doctor_id, @all_doctors, :id, :first_name ) %>
        </div>
      </div>
    </div>

    <div class="tr">
      <div class="tc">
        <div class="field">
          <%= f.label :Date %><br />
          <%= f.date_select :date, start_year: 2018, default: 1.days.from_now, id: 'selected_date' %>
          <%= link_to "Check Availability", '#', id: "get_timeslots", remote: true %>
        </div>
      </div>

    <div id="available_slots">
      
    </div>

    </div>

    

    <div class = "tr">
      <div class="tc">
        <%= f.submit :book %>
      </div>
    </div>
  </div>

<% end %>


</body>
