
<link rel="stylesheet" type="text/css" href="mystyle.css">
<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">


<h1 class="text">My Upcoming Appointments</h1>

<% if @appointments.blank? %>
  <p>No appointments found.</p>
<% else %>

  <div class="div-table">
    <div class="tr">
      <div class="tc"><u><b>Date</b></u></div>
      <div class="tc"><u><b>Name</b></u></div>
      <div class="tc"><u><b>Status</b></u></div>
      <% if current_user.patient? %>
        <div class="tc"><u><b>Actions</b></u></div>
      <% end %>
    </div>
    <% @appointments.each do |apps| %>
      <div class="tr">
          <div class="tc"> <%= apps.date.strftime("%B %d, %Y") %></div>
          <% if current_user.doctor? %>
            <div class="tc"> <%= apps.patient.first_name  %>
                             <%= apps.patient.last_name %> ( Patient )
            </div>
          <% else %>
            <div class="tc"> <%= apps.doctor.first_name  %>
                             <%= apps.doctor.last_name %> ( Doctor )
            </div>
          <% end %>
          <div class="tc"> <%= apps.status %></div>
          <div class="tc"> <%= link_to image_tag("Show.png", :size => '20x20'), appointment_path(apps) %></div>
          <% if current_user.patient? %>
            <% if apps.status != 'cancelled' %>
              <div class="tc"> <%= link_to image_tag("Edit.png", :size => '20x20'), edit_appointment_path(apps) %>
              </div>
            <% end %>
            <div class="tc">
              <%= link_to appointment_path(apps) , method: :delete, data: {confirm: "Hey, Are you sure?"} do %>
                <%= image_tag("Delete.png", :size => '20x20') %>
              <% end %>
            </div>
          <% end %>
      </div>
    <% end %>
  </div>

  <div class="paginate-field">
    <%= will_paginate @appointments %>
  </div>

<% end %>
