
<%= link_to image_tag("Back.png", :size => '80x50'), appointments_path %><br>


<%= form_for(@appointment)  do |f| %>

  <div class="container-top" id="edit_div">
  
    <h2 class="edit-heading">Book Appointment</h2><hr>
    <div class="container-row">
      <div class="container-col">
        <div class="form-group">
          <label class="doctor-select-label"  for="doctor"><b>Choose Doctor</b></label>
          <%= f.collection_select(:doctor_id, @all_doctors, :id, :first_name) %>
        </div>
      </div>
    </div>

    <div class="container-row">
      <div class="container-col">
        <div class="field">
          <label class="date-select-label" for="date"><b>Select Date</b></label>
          <%= f.date_field :date, :value => (Date.today + 1).strftime('%Y-%m-%d'), min: Date.today + 1.day, max: Date.today + 5.months %>
        </div>
      </div>
    </div><hr>

    <div class="container-row">
      <div class="container-col">
        <div class="field">
          <h4>Cause:</h4>
            <%= f.fields_for :notes do |note_field| %>
                <%= note_field.label :Note %><br>
                <%= note_field.text_area :description, placeholder: "Leave note here.", required: true %><br>
            <% end %>
        </div>
      </div>
    </div><hr>

    <div class="container-row">
      <div class="container-col">
        <div class="field">
        <label class="image-file-field" for="image"><b>Change Image</b></label>
        <%= f.file_field :image, required: true %>
        <% if @appointment.errors.any? %>
          <%= @appointment.errors.messages[:image].first if @appointment.errors.messages[:image].present? %>
        <% end %>
        </div>
      </div>
    </div>


    <div class ="container-row">
      <div class ="container-col">
        <%= f.submit :Book, :class => 'update-button' %>
      </div>
    </div>
  </div>

<% end %>