#edit_div.container.well
  = form_for(@appointment) do |f|
    %h2.edit-heading Book Appointment
    .form-group
      %label.doctor-select-label{for: "doctor"}
        %b Choose Doctor
      %br/
      = f.collection_select(:doctor_id, @all_doctors, :id, :first_name, { class: "form-control" })
      .validation-err-message
        - if @appointment.errors.any?
          = @appointment.errors.messages[:"doctor_id"].join(',') if @appointment.errors.messages[:"doctor_id"].present?
    .form-group
      %label.date-select-label{for: "date"}
        %b Select Date
      = f.date_field :date, value: (Date.today + 1).strftime('%Y-%m-%d'), min: Date.today + 1.day, max: Date.today + 5.months, class: "form-control"
      .validation-err-message
        - if @appointment.errors.any?
          = @appointment.errors.messages[:"date"].join(',') if @appointment.errors.messages[:"date"].present?
    .form-group
      = link_to "Get Slots", { action: :get_slots, controller: :appointments }, id: "get_timeslots", style: 'display: none', remote: true
      .check-slot
        .available-slots
      .validation-err-message
        - if @appointment.errors.any?
          = @appointment.errors.messages[:"slot_id"] if @appointment.errors.messages[:"slot_id"].present?

    .form-group
      %h4 Cause:
      = f.fields_for :notes do |note_field|
        = note_field.label :Note
        %br/
        = note_field.text_area :description, class: "form-control note", placeholder: "Leave note here."
        %br/
      .validation-err-message
        - if @appointment.errors.any?
          = @appointment.errors.messages[:"notes.description"].join(',') if @appointment.errors.messages[:"notes.description"].present?
    .form-group
      %label.image-file-field{for: "image"}
        %b Change Image
      = f.file_field :image, class: "form-control"
      .validation-err-message
        - if @appointment.errors.any?
          = @appointment.errors.messages[:image].join(' ,') if @appointment.errors.messages[:image].present?
    .actions
      = f.submit :Book, class: 'btn btn-primary'
      = link_to "Back", appointments_path, class: "btn btn-warning"
      %br/
%script
  $(document).ready(function() {
  $(".available-slots").show();
  $('body').on('change', '#appointment_doctor_id', function() {
  $("#appointment_date").val(tomorrowDate());
  $(".available-slots").text("");
  });

  $('body').on('click', '#appointment_date', function() {
  var link = $("#get_timeslots").prop("href");
  var doctor = $("#appointment_doctor_id").val();
  var date = $("#appointment_date").val();
  $("#get_timeslots").prop("href", link.split('?')[0] + "?date=" + date + "&doctor=" + doctor);
  $("#get_timeslots").trigger("click");
  });

  function tomorrowDate() {
  var date = new Date();
  date.setDate(date.getDate() + 1);
  var mm = (date.getMonth() < 12 ? date.getMonth() + 1 : 1);
  mm = mm.toString().length > 1 ? mm : (0 + mm.toString());
  var dd = date.getDate();
  var yyyy = date.getFullYear();
  return yyyy + "-" + mm + "-" + dd;
  }
  });
