<div class="container well" id="edit_div">
  <%= form_for(@appointment) do |f| %>
  <h2 class="edit-heading">Book Appointment</h2>
  <div class="form-group">
    <label class="doctor-select-label"  for="doctor"><b>Choose Doctor</b></label><br>
    <%= f.collection_select(:doctor_id, @all_doctors, :id, :first_name, {prompt: 'Please select a Doctor', required: true}, {class: "form-control"}) %>
    <div class="validation-err-message">
    <% if @appointment.errors.any? %>
    <%= @appointment.errors.messages[:"doctor_id"].join(',') if @appointment.errors.messages[:"doctor_id"].present? %>
    <% end %>
  </div>
  </div>
  <div class="form-group">
    <label class="date-select-label" for="date"><b>Select Date</b></label>
    <%= f.date_field :date, value: (Date.today + 1).strftime('%Y-%m-%d'), min: Date.today + 1.day, max: Date.today + 5.months, class: "form-control" %>
  </div>
  <div class="form-group">
    <h4>Cause:</h4>
    <%= f.fields_for :notes do |note_field| %>
    <%= note_field.label :Note %><br>
    <%= note_field.text_area :description, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}}, class: "form-control", placeholder: "Leave note here." %><br>
    <% end %>
    <div class="validation-err-message">
    <% if @appointment.errors.any? %>
    <%= @appointment.errors.messages[:"notes.description"].join(',') if @appointment.errors.messages[:"notes.description"].present? %>
    <% end %>
    </div>
  </div>
  <div class="form-group">
    <label class="image-file-field" for="image"><b>Change Image</b></label>
    <%= f.file_field :image, class: "form-control" %>
    <div class="validation-err-message">
    <% if @appointment.errors.any? %>
    <%= @appointment.errors.messages[:image].join(' ,') if @appointment.errors.messages[:image].present? %>
    <% end %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit :Book, class: 'btn btn-info' %>
    <%= link_to "Back", appointments_path, class: "btn btn-success" %><br>
  </div>
  <% end %>
</div>
