<!DOCTYPE html>
<html>
<head>
  <style>
    nav {
      position: relative;
      border: 2px solid black;
      height: 40px;
    }
    li {
      float: left;
      padding-right: 40px;
      list-style: none;
      position: relative;
      bottom: 4px;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? && current_user.patient? %>
          <li><%= link_to 'Home', authenticated_root_path %></li>
          <li><%= link_to 'New Appointment', new_appointment_path %></li>
          <li><%= link_to 'My Account', edit_user_registration_path  %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
          <li><%= link_to 'Archives', archive_path %></li>
        <% elsif user_signed_in? && current_user.doctor? %>
          <li><%= link_to 'Home', authenticated_root_path %></li>
          <li><%= link_to 'My Account', edit_user_registration_path  %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
          <li><%= link_to 'Archives', archive_path %></li>
        <% else %>
          <li><%= link_to 'Login', new_user_session_path  %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</body>
<html>
