<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Hi, <%= current_user.first_name if user_signed_in? %></a>
  </div>
  <ul class="nav navbar-nav">
    <% if user_signed_in? && current_user.patient? %>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'New Appointment', new_appointment_path %></li>
      <li><%= link_to 'Archives', archive_path %></li>
    <% elsif user_signed_in? && current_user.doctor? %>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Archives', archive_path %></li>
    <% end %>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
    <div class="dropdown">
      <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
      <span class="glyphicon glyphicon-user"></span></button>
      <ul class="dropdown-menu">
        <li class="patient-logout"><%= link_to 'Logout', destroy_user_session_path, method: :delete, data: { confirm: "Are you sure to log-out?" } %></li>
        <li><%= link_to 'My Account', edit_user_registration_path  %></li>
      </ul>
    </div>
    <% else %>
    <li class="patient-login"><%= link_to 'Login', new_user_session_path %></li>
    <% end %>
  </ul>
</div>
</nav>
