%nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      %a.navbar-brand{href: "#"}
        Hi #{current_user.first_name if user_signed_in?}
    %ul.nav.navbar-nav
      %button.btn.btn-warning.btn-md{"data-target" => "#myModal", "data-toggle" => "modal", type: "button"} About Us
      #myModal.modal.fade{role: "dialog"}
        .modal-dialog
          .modal-content
            .modal-header
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
                %span{"aria-hidden" => "true"}&times
              %h4.modal-title About Hospital Management System
            .modal-body
              %p Some text in the modal.
            .modal-footer
              %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close

      - if user_signed_in? && current_user.patient?
        %li= link_to 'HOME', root_path
        %li= link_to 'BOOK APPOINTMENT', new_appointment_path
        %li= link_to 'ARCHIVES', archive_path
      - elsif user_signed_in? && current_user.doctor?
        %li= link_to 'HOME', root_path
        %li= link_to 'ARCHIVES', archive_path
    %ul.nav.navbar-nav.navbar-right
      - if user_signed_in?
        .dropdown
          %button.btn.btn-default.btn-xs.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
            %span.glyphicon.glyphicon-user
          %ul.dropdown-menu
            %li.patient-logout= link_to 'Logout', destroy_user_session_path, method: :delete, data: { confirm: "Are you sure to log-out?" }
            %li= link_to 'My Account', edit_user_registration_path
      - else
        %li.patient-login= link_to 'Login', new_user_session_path
